/.ipynb_checkpoints
/00 - Actas Reader_dev.ipynb
/00 - Actas Reader_v01.ipynb
/00 - Actas Reader_v02.ipynb
/00 - Notas Reader.ipynb
/00 - Reports Downloader.ipynb
/01 - Dataset Analysis_dev.ipynb
/ACTAS
/actas_downloader
/actas_pdf
/database_development_v01.ipynb
/matches_dataset_private.csv
/players_table.sqlite
/Project Rugby.xlsx
/Python for Everybody - Coursera.lnk
/rugby_database.sqlite
/Untitled.ipynb